mixin link(is="inline")
  -
    const href = attributes.href

    let type = is
    let styles = []
    let title = href
    let tabindex = !href ? undefined : attributes.tabindex|"0"

    title = title||undefined

    const regex_href = {
      samepage: RegExp('^#'),
      external_https: RegExp('https\:\/\/'),
      external_http: RegExp('http\:\/\/'),
      any: RegExp('(:\/\/)|#'),
    }

    const set_title = (title, description) => {
      return [description, title].filter(Boolean).join(":\n")
    }

    if (regex_href.samepage.test(href)) {
      styles = ["text:yellow text:stamp"]
      title = set_title(title, "anchor link")
    } else if (regex_href.external_https.test(href)) {
      styles = ["text:blue text:stamp prepend:person-golfing"]
      title = set_title(title, "external link")
    } else if (regex_href.external_http.test(href)) {
      styles = ["text:blue text:stamp prepend:unlocked decoration:double-line-through opacity:half cursor:not-allowed"]
      title = set_title(title, "unsecure external link")
    } else if (href)  {
      styles = ["text:green"]
      title = set_title(title, "internal link")
    } else {
      styles = ["text:red prepend:unlocked decoration:double-line-through opacity:half cursor:not-allowed"]
      title = set_title(title, "unsecure/invalid link")
    }

    // only allow valid link types
    switch (type) {
      case "inline": break;
      case "block": break;
      case "inline-block": break;
      default: throw `error: link type "${type}" doesn't exist! (use "inline" (default), "block" or "inline-block")`;
    }

    type = type == "inline" ? undefined : type

  a(tabindex=tabindex, class=[type, ...styles], title=title)&attributes(attributes)
    if block
      block

//- examples overview
mixin example-link(is="inline")
  -
    const type = "Link"
    let name

    switch (is) {
      case "inline":
        name = "Inline Link";
        break;
      case "block":
        name = "Block Link";
        break;
      case "inline-block":
        name = "Inline-Block Link";
        break;
      default:
        throw `error: link type "${is}" doesn't exist!`;
    }

    const element = {
      name
    }

    const examples = [
      {
        name: `Internal`,
        href: "/index.html",
      },
      {
        name: `External (HTTPS)`,
        href: "https://duckduckgo.com",
      },
      {
        name: `External (HTTP)`,
        href: "http://duckduckgo.com",
        invalid: true
      },
      {
        name: `Same-Page`,
        href: "#0",
        notes: `anchors`
      },
      {
        name: `Invalid/Undefined`,
        invalid: true
      }
    ]

  h3= name
  table
    thead
      tr
        th: code valid
        th: code types
        th: code notes
    tbody
      each example in examples
        tr
          td= example.invalid ? `` : `✅`
          td: +link(is)(href=example.href)= example.name
          td
            if example.notes
              small: code= example.notes
