doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")

    title CREEATION.de

    link(rel="stylesheet", href="css/creeation.css")

  body.rainbow.rainbow--border
    .page
      section.visually-hidden
        p Hello! My name is Thomas Creeten and I welcome you to my website!
        p If you're hearing this, you're probably unable to see what I'd love you to be able to see.
        p This is why I'll describe what this website is all about in a couple of sentences to the best of my abilities.
        p You might just wish to skip my blabber, in which case you'd simply press Tab and go explore yourself. 🕵️‍♀️
        p If you're specifically looking at the source code of this website, this one's probably not for you either. 👀

      header.header
        .header__title
          h1 Thomas Creeten
          h2 CREEATION

        figure.header__description
          img.pixelart(src="img/thomas_creeten.png",
            alt="pixel art side-portrait of thomas creeten, doing a thinking-pose while wearing a green t-shirt and a black headset.")

          figcaption
            span Web Developer
            br
            span UX-driven Development
            br
            span.rainbow.rainbow--text for the people
            |
            |
            span.emoji 💖
            span.emoji.emoji--large 🦸‍♂️

        nav.header__navigation
          ul
            each website in data.social
              -
                //- - let hostname = modules.url.parse(website.url).hostname.replace("www.", "")
                const username = website.title || modules.url.parse(website.url).pathname
                const linkAlt = username + " (" + website.name + ")"
                const linkTitle = website.name !== "email" ? website.name + " profile" : "send mail"

              li: a(href=website.url, alt=linkAlt, title=linkTitle)= website.name

      footer.footer.
        #[img(src="img/creeation-logo.svg", alt="CREEATION Logo", title="CREEATION")]
        #[small &copy; #{new Date().getFullYear()}]
        #[span CREEATION.de / Thomas Creeten]
