doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")

    title CREEATION.de
    link(rel="stylesheet", href="css/creeation.css")

  body
    .page
      header.m-header
        h1
          i.visually-hidden hello! my real name is
          |
          |
          small.h-subtitle thomas creeten
          |
          |
          i.visually-hidden and my artist/programming name is usually
          |
          | CREEATION
          |
          i.visually-hidden
            |
            | which is derived from my lastname "c r e e t e n".
            |
            | you only know this because you're using a screenreader,
            |
            | or specifically looking at the source code of this website 👀
            |
            | either way, if you're looking for a front-end guy, consider contacting me via
            |
            a(href="mailto:tcreeten@gmail.com") email
            |
            | or
            |
            a(href="https://t.me/creeten") telegram
            | . i'd be happy to hear from you 🐢

      section.m-profile
        figure.m-profile__avatar
          img.pixelart(src="img/thomas_creeten.png",
            alt="pixel art side-portrait of thomas creeten, doing a thinking-pose while wearing a green t-shirt and a black headset.")

          figcaption
            h2
              | web developer
              small.h-subtitle ux driven development
                small.h-subtitle--addon for the people
                  |
                  |
                  span.emoji-container
                    span.emoji 💖
                    span.supermoji 🦸‍♂️

        //- aside.m-profile__social-links
        //-   each website in data.social
        //-     - let hostname = modules.url.parse(website.url).hostname.replace("www.", "")
        //-     - let username = website.title || modules.url.parse(website.url).pathname
        //-     - let linkTitle = website.name
        //-     a(href=website.url, alt=linkTitle, title=linkTitle)
        //-       i.icon
        //-         if !website.emojicon
        //-           img(src=`./img/favicons/${hostname}.png`, alt=linkTitle, title=linkTitle)
        //-         else
        //-           span= website.emojicon
        //-       span= username

      //- main.m-content
      //-   h3 whoops
      //-   p content etc

      footer.m-footer: small &copy; #{new Date().getFullYear()}
        |
        |
        span creeation.de
        |
        |
        | /
        |
        |
        span thomas creeten
